@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global base styles */
html,
body {
  min-height: 100%;
}

body {
  @apply bg-slate-50 text-slate-800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

